/* Universal Selectors */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #ffffff;

}
/* isolated id to change the color of seo in 'Horiseon' h1 header */
#seo {
    color: #d9dcd6;
}

/* Element Selectors */
body {
    background-color: #d9dcd6;
}

body header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

body header h1 {
    display: inline-block;
    font-size: 48px;
}

body header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

body header nav ul {
    list-style-type: none;
}

body header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

body header nav ul li a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* bottom left section text formatting */
main section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* bottom right section panel formatting */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
/* bottom right section image + content formatting */
aside section {
    margin-bottom: 32px;
}
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class Selectors */
/* main body background image up top */
.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* bottom left section's image's loction formatting */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
.left-panel img {
    max-height: 200px;
}

.left-panel {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}
.left-panel h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* the hidden footer section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display:none
}
footer h2 {
    font-size: 20px;
}
